.holes {
	/*flex: 1 0 33, 33%; */
	overflow: hidden;
	position: relative;
	background-color: green;
	height: 100px;
	border: 1px solid black;
}

.container {
	/* display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 800px*/
/* display: grid;
 grid-template-columns: 200px 200px 200px;
 grid-gap: 20px;
 align-items: auto;
 grid-auto-rows: 100px;
 align-self:  center;*/
  display: grid;
  margin: 0 auto;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 30px;
  justify-content: center;

}




 /* font-size: 10px;
  width:600px;
  height:400px;
  display:grid;
  margin:0 auto;*/



/*
	display: grid;
	grid-template-columns: 400px 400px 400px;
	
	grid-gap: 20px*/


 
    

button {
	background-color: darkGreen;
	font-family: 'Architects Daughter', cursive;
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 40px; 
  	align-items: : center;
  	margin: 10px;
  	border-radius: 10%;

}



h1 {
	font-family: 'Architects Daughter', cursive;
	font-size: 75px;
	text-align: center;
	margin-top: 40px;

}
body {
  background-size:cover;
  background-repeat:no-repeat;
  background-image: url(https://i.imgur.com/gB7VLwI.jpg)
  
	
}
.holes:active {
	background-color: black;
}
.moles {
	background-color: brown;
	background-image: url(https://i.imgur.com/CV3fj1f.jpg?1); 
	
